body {
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    overflow: hidden;
    overflow-y: scroll;
}

/* top section */
#top-section {
    background-color: #212b3b;
    color: white;
    padding: 2% 10%;
}
    /* Header */
header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

}

#header-logo {
    font-weight: bold;
    flex: 1;
    margin-right: auto;
    font-size: 20px;
}

#nav-elements {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: auto;
    padding: 0px;
    align-items: flex-start;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 10px;
}

nav ul li {
    flex: 1;
    list-style: none;
}

    /* description section */
.description {
    margin: 0;
    padding: 2% 0;
    display: flex;
    gap: 20px;
}

.description .text {
    flex: 1;
}

.description h1 {
    font-size: xxx-large;
}

.description button {
    border-radius: 5px;
    border-color: #212b3b;
    font-size: 18px;
    font-weight: 350;
    padding: 5px 20px;
    color: white;
    background-color:rgb(69, 135, 235);
}

button:hover {
    cursor: pointer;
}

.description .image-frame {
    width: 500px;
    height: 300px;
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
}

.description img {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

/* Second Section */
.second-section {
    padding: 2% 10% 5% 10%;
}

h2 {
    text-align: center;
}

.boxes {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.box-1, .box-2, .box-3, .box-4 {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
}

.boxes .image-frame {
    border: solid cornflowerblue;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    overflow: hidden;
}

.second-section .image-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boxes p {
    width: 150px;
    overflow-wrap: break-word;
    text-align: center;
}

/* Third Section */
.third-section {
    background-color:lightgray;
    padding: 10% 25%;
}

.text-quotation {
    font-style: italic;
    font-weight: 200;
    font-size: 25px;
}

cite {
    display: block;
    text-align: end;
    font-weight: bold;
}

/* last section */

.signup-box {
    background-color:rgb(69, 135, 235);
    margin: 12% 10%;
    padding: 3% 10%;
    border-radius: 10px;
    color: white;
    display: flex;
}

.box-text {
    flex: 2 1 auto;
}

.box-text .catchy {
    font-weight: bold;
}

.signup-box button {
    background-color: rgb(69, 135, 235);
    border-color: white;
    border-radius: 10px;
    color: white;
    flex: 1;
    width: 150px;
}


/* Footer */
.footer {
    background-color:#212b3b;
    text-align: center;
    color: white;
    padding: 2%;
}